<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow" style="max-width: 600px; width: 100%;">
        <img class="card-img-top" src="~/images/stressed.jpg" alt="Woman sitting in front of computer, stressed out.">
        <h3>Do you feel lost in the job jungle?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quibusdam consequatur odit fugit omnis in.
            Labore, impedit! Ratione cupiditate, beatae provident dolores minus ipsa maiores distinctio consectetur
            rerum neque quas, et, eveniet ut! Deserunt, hic doloribus! Velit ab placeat explicabo consequuntur sit magni
            ut quaerat eveniet, neque beatae tempora hic porro quia. Obcaecati, voluptas aliquam harum ipsum dolore
            accusantium debitis praesentium id explicabo? Quos ex molestiae consectetur amet labore? Facere ex doloribus
            ullam maxime adipisci velit dolor distinctio asperiores, id eos. Officia dicta temporibus at nam aperiam
            dignissimos eius excepturi quisquam voluptas, quibusdam harum nemo praesentium assumenda cum, iusto quod?
        </p>
    </div>
</div>