/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body{
  font-family: "Quicksand", sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-custom {
  color: #fff;
  background-color: rgb(243, 178, 56);
  padding: 10px;
  border-radius: 15px;
  border: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.thead-custom{
  color:white;
  background-color: rgb(145, 145, 145);
}

.btn-custom:hover {
  color:white;
  background-color: rgb(231, 156, 17);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(243, 178, 56);
  padding: 10px;
  border-radius: 15px;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

span{
  font-weight: 800;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
} */

.chevron {
  transition: .3s ease;
  font-size: 2rem;
  cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
}

.form-check-input:checked {
  background-color: rgb(243, 178, 56);
  border-color: rgb(243, 178, 56);
}