<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow" style="max-width: 600px; width: 100%;">
        <img class="card-img-top" src="~/images/job.jpg" alt="Two people shaking hands, probably got a job offer...">
        <div class="card-body">
            <h3 class="card-text text-center">
                Get <span>on trax</span> with your job applications today.
            </h3>
            <div class="d-flex justify-content-center gap-2 mt-3">
                <a class="btn btn-custom" asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </div>
    </div>
</div>