<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="max-width: 600px; width: 100%;">
        <img class="card-img-top" src="~/images/job.jpg" alt="Two people shaking hands, probably got a job offer...">
        <div class="card-body">
            <h3 class="card-text text-center">
                Get <span>on trax</span> of your job applications today.
            </h3>
            <div class="d-flex justify-content-center gap-2 mt-3">
                <button class="btn-custom">Register</button>
                <button class="btn-custom">Login</button>
            </div>
        </div>
    </div>
</div>